<nav class="navbar navbar-inverse">
    <div class="footer">
        <p class="main">GET TO KNOW US</p>
        <ul *ngFor="let item of gtk" class="list">
            <li><a href="#" class="us">{{item}}</a></li>

        </ul>
    </div>
    <div class="footer">
        <p class="main">CUSTOMER SERVICE</p>
        <ul *ngFor="let item of customer" class="list">
            <li><a href="#" class="us">{{item}}</a></li>

        </ul>
    </div>
    <div class="footer">
        <p class="main">CONNECT WITH US</p>
        <ul *ngFor="let item of con" class="list">
            <li><a href="#" class="us">{{item}}</a></li>

        </ul>
    </div>
    <div class="footer">

        <p class="sub">JOIN THE TEAM. </p>
        <p class="sub"> TO BE THE FIRST TO KNOW </p>
        <p class="sub">ABOUT LATEST PRODUCT ARRIVALS.</p>
        <form action="#">
            <input type="textbox" placeholder="Email Address" class="box">
            <a href="#"><button class="subscribe">SUBSCRIBE  ❯</button></a>
        </form>

    </div>
</nav>