<div class="hotdeals ">
    <p class="items">HOT SALES ITEMS</p>
    <div class="hotdeal">
        <div class="change">

            <img src="../../assets/images/camojacket.png" class="hotdealimg">
            <a [routerLink]="['/showcase']" (click)="selectshowcase('CAMO')">
                <img src="../../assets/images/messicamo.png" class="imgtop">
            </a>
        </div>
        <div class="package">
            <p class="name">CAMO JACKETS</p>
            <p class="model">WINDBREAKER</p>
            <p class="price">₹ 2000</p>
        </div>
    </div>
    <div class="hotdeal">
        <div class="change">
            <img src="../../assets/images/oceanblue.png" class="hotdealimg">
            <a [routerLink]="['/showcase']" (click)="selectshowcase('PULLO')">
                <img src="../../assets/images/oceanbluemessi.png" class="imgtop">
            </a>
        </div>
        <div class="package1">
            <p class="name">PULLOVER HOODIE</p>
            <p class="model1">OCEAN BLUE</p>
            <p class="price1">₹ 2300</p>
        </div>
    </div>
    <div class="hotdeal">
        <div class="change">
            <img src="../../assets/images/dualstrip.png" class="hotdealimg">
            <a [routerLink]="['/showcase']" (click)="selectshowcase('CREN')">
                <img src="../../assets/images/dualstripmessi.png" class="imgtop">
            </a>
        </div>
        <div class="package2">
            <p class="name">CREW NECK</p>
            <p class="model2">LIGHT BLUE</p>
            <p class="price2">₹ 1500</p>
        </div>
    </div>
    <div class="hotdeal">
        <div class="change">
            <img src="../../assets/images/lm10black.png" class="hotdealimg">
            <a [routerLink]="['/showcase']" (click)="selectshowcase('ZIP')">
                <img src="../../assets/images/lm10blackleo.png" class="imgtop">
            </a>
        </div>
        <div class="package3">
            <p class="name">ZIP FRONT HOODIE</p>
            <p class="model3">BLACK</p>
            <p class="price3">₹ 2500</p>
        </div>
    </div>
</div>