<div class="main">

    <div class="log">
        <p class="rn">LOGIN NOW</p>
        <div class="undr"></div>

        <div class="cont">

            <p class="detail">Email</p>

            <input type="email" class="box">

            <p class="detail">Password</p>

            <input type="password" class="box">
            <br>
            <div class="btn" style="margin-top: 7vw;">
                <button class="su">LOG IN</button>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="reg">
        <p class="rn">REGISTER NOW</p>
        <div class="undr"></div>

        <div class="cont">
            <p class="detail">Name</p>

            <input type="text" class="box">
            <p class="detail">Email</p>

            <input type="email" class="box">

            <p class="detail">Password</p>

            <input type="password" class="box">
            <br>
            <div class="btn">
                <button class="su">SIGN UP</button>
            </div>
        </div>
    </div>
</div>