<div class="tops">
    <div class="top">
        <a [routerLink]="['/products']" (click)="selectProduct('TOP')">
            <img src="../../assets/images/tops.png" class="topimg">
        </a>
        <div class="pdiv">
            <p class="pu">TO</p>
            <p class="p">PS FOR MEN</p>
        </div>
    </div>
    <div class="top">
        <a [routerLink]="['/products']" (click)="selectProduct('WTOPS')">
            <img src="../../assets/images/wtop.png" class="topimg">
        </a>
        <div class="pdiv">
            <p class="pu">TO</p>
            <p class="p">PS FOR WOMEN</p>
        </div>
    </div>
    <div class="top">
        <a [routerLink]="['/products']" (click)="selectProduct('KTOP')">
            <img src="../../assets/images/ktop.png" class="topimg"></a>
        <div class="pdiv">
            <p class="pu">TO</p>
            <p class="p">PS FOR KIDS</p>
        </div>
    </div>
</div>