.top {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 2.5vw;
    width: 22%;
    display: inline-block;
}

.pdiv {
    position: absolute;
    margin-top: -5vw;
    margin-left: 5.5vw;
}

.topimg {
    width: 80%;
    height: 50vh;
    transition: .5s ease;
}

.top:hover .topimg {
    opacity: 0.5;
}

.p {
    font-size: 1.5vw;
    color: white;
    font-family: serif;
}

@media only screen and (max-width: 1300px) {
    .topimg {
        height: 45vh;
    }
}

@media only screen and (max-width: 1100px) {
    .topimg {
        height: 40vh;
    }
}

@media only screen and (max-width: 970px) {
    .topimg {
        height: 37vh;
    }
}

@media only screen and (max-width: 900px) {
    .topimg {
        height: 34vh;
    }
}

@media only screen and (max-width: 820px) {
    .top {
        width: 40%;
        margin-left: 7vw;
    }
    .p {
        font-size: 2vw;
    }
    .pdiv {
        margin-left: 12vw;
    }
}

@media only screen and (max-width: 650px) {
    .topimg {
        height: 30vh;
    }
}

@media only screen and (max-width: 500px) {
    .top {
        width: 60%;
        /* margin-left: 10vw; */
    }
    .topimg {
        margin-left: 17vw;
        width: 80%;
    }
    .pdiv {
        margin-top: -8vw;
        margin-left: 35vw;
    }
    .p {
        font-size: 3vw;
    }
}