.time {
    position: fixed;
    bottom: 0;
    width: 98vw;
    background-color: red;
    /* margin-top: 7vw; */
    height: 7vh;
}

.l1 {
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    color: white;
    float: left;
}

.limited {
    text-decoration: none;
    color: white;
}

.timing {
    margin-top: 1vw;
    margin-left: 35vw;
}

@media only screen and (max-width: 900px) {
    .timing {
        margin-top: 1vw;
        margin-left: 25vw;
    }
}

@media only screen and (max-width: 700px) {
    .timing {
        margin-top: 1vw;
        margin-left: 20vw;
    }
}

@media only screen and (max-width: 600px) {
    .l1 {
        font-family: "Verdana, Geneva, Tahoma, sans-serif";
        color: white;
        float: none;
    }
    .timing {
        margin-top: 1vw;
        margin-left: 25vw;
    }
    .time {
        height: 10vh;
    }
    .limited {
        margin-left: 12vw;
    }
}

@media only screen and (max-width: 400px) {
    .timing {
        margin-top: 1vw;
        margin-left: 15vw;
    }
    .limited {
        margin-left: 17vw;
    }
}

@media only screen and (max-width: 340px) {
    .timing {
        margin-top: 1vw;
        margin-left: 8vw;
    }
    .limited {
        margin-left: 19vw;
    }
}